.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    height: 70vh;
    width:90vh ;
    /* margin-left: 20em;
    margin-top: 25em; */
    /* align-items: center; */
}

.div1 {
    grid-area: 1 / 1 / 3 / 2;
    background-color: brown;
}

.div2 {
    /* grid-area: 1 / 2 / 2 / 3; */
    background-color: rgb(137, 91, 16);
}

.div3 {
    /* grid-area: 1 / 3 / 2 / 4; */
    background-color: rgb(33, 33, 33);
}

.div4 {
    grid-area: 1 / 4 / 3 / 5;
    background-color: rgb(25, 187, 58);
}

.div5 {
    /* grid-area: 3 / 1 / 4 / 2; */
    background-color: rgb(0, 255, 247);
}

.div6 {
    grid-area: 2 / 2 / 4 / 4;
    background-color: rgb(122, 23, 162);
}

.div7 {
    grid-area: 4 / 1 / 5 / 3;
    background-color: rgb(118, 165, 42);
}

.div8 {
    /* grid-area: 4 / 3 / 5 / 4; */
    background-color: rgb(58, 42, 165);
}

.div9 {
    grid-area: 3 / 4 / 5 / 5;
    background-color: rgb(234, 255, 0);
}

.card {
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
    /* min-height:300px; */

}


@media (max-width : 600px) {

    .container { grid-template-columns: 1fr;
                grid-template-rows: repeat(9, 200px);
    }

    .card{
        
        grid-area: auto !important;
        height : 250 px;
    }
    .div1, .div2, .div3, .div4, .div5, 
    .div6, .div7, .div8, .div9 {
        grid-area: auto;
    }
}